#footer {
  background-color: var(--footer-background);
  margin-top: var(--footer-margin-top, 0);
  color: var(--footer-color);
  padding: 4rem 0;
  // border-top: rem(1px) solid rgba(0, 0, 0, 0.15);

  @include media-breakpoint-up(lg) {
    padding: 2rem 0;
  }
  h3,
  .widget-title {
    font-weight: 400;
    font-family: var(--font-family-secondary);
    font-size: rem(18px);
    color: rgba(0, 0, 0, 0.95);
  }
}

.footer-container {
  display: grid;
  grid-template-rows: auto;
  grid-gap: 1rem 1rem;
  grid-template-columns: 1fr;

  @include media-breakpoint-up(lg) {
    grid-gap: 2rem 0rem;

    grid-template-columns: rem(279px) 1fr 1fr 3rem 1fr 1fr;
  }

  .nav-link {
    --bs-nav-link-color: #fff;
    --bs-nav-link-font-size: #{rem(13px)};
    --bs-nav-link-font-weight: 300;
    --bs-nav-link-hover-color: #fff;
    font-family: var(--font-family-base);
    letter-spacing: rem(1px);
    line-height: rem(16px);
    padding: 0;
    &:hover {
      text-decoration: underline;
    }
  }

  .footer__logo {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 2rem;
    grid-area: auto/1/auto/-1;

    @include media-breakpoint-up(lg) {
      grid-area: 1 / 1 / 2 / 2;
      align-items: flex-start;
      justify-content: flex-start;
    }

    img {
      max-width: 100%;
      height: auto;
    }
    .footer__logo-img {
      max-width: var(--footer-logo-max-width, rem(185px));
      height: auto;
      width: 100%;
      @include media-breakpoint-up(lg) {
        --footer-logo-max-width: #{rem(235px)};
      }
    }

    .footer__logo-btn {
      --bs-btn-color: #000;
      --bs-btn-bg: #fff;
      --bs-btn-border-color: #000;
      --bs-btn-hover-color: #fff;
      --bs-btn-hover-bg: #000;
      --bs-btn-hover-border-color: #000;
      --bs-btn-focus-shadow-rgb: 38, 38, 38;
      --bs-btn-active-color: #fff;
      --bs-btn-active-bg: #000;
      --bs-btn-active-border-color: #000;
      --bs-btn-active-shadow: unset;
      --bs-btn-border-width: #{rem(2px)};
      --bs-btn-border-radius: 0;
      --bs-btn-font-weight: 700;
      --bs-btn-font-size: #{rem(14px)};
      --bs-btn-font-family: var(--font-family-secondary);
      width: 100%;
      text-transform: uppercase;
      &:hover {
        text-decoration: none;
      }
    }
    .footer__logo-widget {
      background-color: #fff;
      border: rem(2px) solid #000;
      padding: 0.5rem;
      width: 100%;
    }
  }

  .footer__menu-uno {
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // justify-content: flex-start;
    padding: 1rem 0 1rem;
    grid-area: auto/1/auto/-1;

    @include media-breakpoint-up(lg) {
      grid-area: 2/1/3/4;
    }

    .menu {
      width: 100%;
      gap: 1rem;
      flex-direction: column;
      align-items: center;

      @include media-breakpoint-up(md) {
        grid-template-columns: repeat(1, 1fr);
        flex-direction: row;
        gap: 4rem;
      }
      .menu-item {
        .nav-link {
          padding: 0;
          font-weight: 300;
          text-transform: uppercase;
        }
      }
    }
  }

  .footer__menu-dos {
    grid-area: auto/1/auto/-1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: flex-start;
    padding: 1rem;

    @include media-breakpoint-up(lg) {
      grid-area: 1 / 5 / 3 / 7;
    }

    .menu {
      // display: grid;
      // grid-template-columns: repeat(2, 1fr);
      // grid-auto-rows: min-content;
      // -moz-column-gap: 1.5rem;
      // column-gap: 1.5rem;
      // row-gap: 1rem;
      // text-align: left;
    }
  }

  .footer__menu-tres {
    grid-area: auto/1/auto/-1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;

    @include media-breakpoint-up(lg) {
      grid-area: 4/3/5/4;
    }
    .nav-link {
      --bs-nav-link-font-size: #{rem(12px)};
    }
  }

  .footer__contact {
    grid-area: 3 / 1 / 4 / -1;

    @include media-breakpoint-up(lg) {
      grid-area: 3 / 1 / 4 / 4;
    }
    p {
      font-size: rem(14px);
      text-align: center;

      a {
        color: #fff;
      }
      @include media-breakpoint-up(lg) {
        text-align: left;
      }
    }
  }

  .footer__social {
    grid-area: auto/1/auto/-1;

    .widget-title {
      text-align: center;
    }
    @include media-breakpoint-up(lg) {
      grid-area: 1/6/2/7;

      .widget-title {
        text-align: left;
      }
    }
    .wa-social-profiles {
      --social-icons-justify-content: center;
      --social-icons-gap: 2rem;
      --social-icons-font-size: #{rem(32px)};
      --social-icons-color: #fff;
      @include media-breakpoint-up(lg) {
        --social-icons-justify-content: flex-end;
      }
    }
  }

  .footer__credits {
    grid-area: auto/1/auto/-1;

    // border-top: rem(1px) solid rgba(0, 0, 0, 0.15);

    padding: 1rem 0;

    .nav {
      justify-content: center;
      margin-bottom: 2rem;
    }

    @include media-breakpoint-up(lg) {
      grid-area: 4/5/5/7;
      display: flex;
      align-items: center;
      gap: 1rem;
      .nav {
        margin-bottom: 0;
      }
    }
    p {
      font-size: rem(10px);
      color: #ffffff;
      text-align: center;
      margin: 0;
      @include media-breakpoint-up(lg) {
        text-align: right;
      }
    }

    .nav-link {
      --bs-nav-link-font-size: #{rem(12px)};
    }
  }
}
