/**
 * General
 */

body {
  /* If WP-Adminbar is visible */
  &.admin-bar {
    .edit-link a {
      color: #fff !important;
      font-weight: normal !important;
      text-decoration: none !important;

      &::before {
        content: '\270E';
        display: inline-block;
        margin-right: 5px;
      }
    }
  }
}

a {
  text-decoration-line: none;
  outline: 0px;
  &:hover {
    text-decoration-line: underline;
    text-decoration-thickness: rem(1px);
    text-underline-offset: rem(5px);
  }
}

img {
  vertical-align: middle;
}

/**
 * WordPress customization
 */

/* WordPress Embeds */

.wp-video,
.embed-responsive {
  margin: 5px 0;
  width: 100% !important;
  max-width: 100%;
}

.post,
.post-thumbnail {
  img {
    max-width: 100%;
    height: auto;
  }
}

/* Sidebar */

.widget-area {
  ul {
    list-style: none;
    padding: 0;
  }
}

/* Author */

.author-avatar {
  .avatar {
    width: 64px;
    height: auto;
  }
}

.author-info {
  margin: 40px 0;

  h2,
  h3 {
    margin-top: 0;
  }
}

/* Posts */
.entry-meta {
  font-size: small;
  margin-top: ($grid-gutter-width * 0.5);
}

.single {
  .entry-content,
  .post-navigation,
  #comments-title {
    margin: $grid-gutter-width 0;
  }
}

/* WordPress Blocks */

// Buttons

.wp-block-button {
  &.is-style-outline {
    .wp-block-button__link {
      @extend .btn;
      @extend .btn-outline-primary;
    }
  }

  &.btn-lg {
    .wp-block-button__link {
      @extend .btn-lg;
    }
  }
  &.btn-sm {
    .wp-block-button__link {
      @extend .btn-sm;
    }
  }

  .wp-block-button__link {
    @extend .btn;
    @extend .btn-primary;
    text-decoration: none;
  }
}

// Table

.wp-block-table {
  td,
  th {
    border: inherit;
  }

  table {
    @extend .table;
  }
}

// Image, Media and Text

.wp-block-image,
.wp-block-media-text__media {
  img,
  video {
    height: auto;
  }
}

.shortcuts-bar {
  position: fixed;
  right: 1%;
  bottom: 2%;
  z-index: 1031;
  display: flex;
  gap: 0.5rem;
  .shortcut-bar__item {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    box-shadow: 0 0 rem(3px) 0 #000;
    padding: 0;
    a {
      color: #fff;
    }
  }
}

.bg-tertiary {
  background-color: var(--bs-tertiary);
}
.wa-social-profiles {
  list-style: none;
  display: var(--social-icons-display, flex);
  color: var(--social-icons-color, #fff);
  font-size: var(--social-icons-font-size, 1rem);
  justify-content: var(--social-icons-justify-content, space-evenly);
  gap: var(--social-icons-gap, 1rem);
  padding: var(--social-icons-padding, 0);
  margin: var(--social-icons-margin, 0);
  .wa-social-profiles__link {
    color: var(--social-icons-color, #fff);
    &:hover {
      text-decoration: none;
      color: currentColor;
    }
  }

  &.colored-icons {
    .facebook-social-share__link,
    .facebook-social-profile__link {
      color: #3b5998;
    }
    .linkedin-social-share__link,
    .linkedin-social-profile__link {
      color: #0e76a8;
    }
    .whatsapp-social-share__link,
    .whatsapp-social-profile__link {
      color: #25d366;
    }
    .pinterest-social-share__link,
    .pinterest-social-profile__link {
      color: #bd081c;
    }
    .instagram-social-share__link,
    .instagram-social-profile__link {
      color: #b900b4;
    }
  }
}

.wa-social-share {
  @extend .wa-social-profiles;

  .wa-social-share__link {
    color: currentColor;

    &:hover {
      text-decoration: none;
      color: currentColor;
    }
  }
}

.bordered-title {
  --bordered-title-font-size: #{fluid(14px, 26px)};

  padding: var(--bordered-title-padding, rem(21px) 0);
  text-align: var(--bordered-title-text-align, center);
  font-family: var(
    --bordered-title-font-family,
    var(--section-title-font-family)
  );
  font-weight: var(
    --bordered-title-font-weight,
    var(--section-title-font-weight)
  );
  color: var(--bordered-title-color, var(--section-title-color));
  font-size: var(--bordered-title-font-size, var(--section-title-font-size));
  text-transform: var(--bordered-title-text-transform, uppercase);
  margin: var(--bordered-title-margin, rem(35px) 0 2rem);
  border-top: var(
    --bordered-title-border-top,
    rem(1px) solid var(--borders-color)
  );
  border-bottom: var(
    --bordered-title-border-bottom,
    rem(1px) solid var(--borders-color)
  );
}

.limit-lines {
  --max-lines: unset;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--max-lines);
}

.wide-figure {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}
.breadcrumb-list {
  list-style: none;
  display: flex;
  gap: 0.75rem 0.75rem;
  margin: 1.5rem 0;
  padding: 0;
  flex-wrap: wrap;

  @include media-breakpoint-up(lg) {
    margin: 2rem 0;
  }
  .breadcrumb-list__item {
    display: flex;
    gap: 0.75rem;
    align-items: center;
    justify-content: center;
    &:not(:last-child) {
      &::after {
        content: '';
        width: 1rem;
        height: 1rem;
        background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 7.41 12'%3E%3Cpath fill='%23646464' fill-rule='evenodd' d='M1.41,0L0,1.41,4.58,6,0,10.59l1.41,1.41L7.41,6,1.41,0Z'/%3E%3C/svg%3E");
        display: inline-block;
        background-repeat: no-repeat;
        background-position: center;
      }
    }
    .breadcrumb-list__item-link {
      font-weight: 700;
      font-size: rem(14px);
      color: rgba(0, 0, 0, 0.95);
      font-family: var(--nav-font-family);
      text-transform: uppercase;
      letter-spacing: 0.0625rem;
    }
  }
}
.wide-container {
  left: 50%;
  margin-left: -50vw !important;
  margin-right: -50vw !important;
  position: relative;
  right: 50%;
  width: 100vw !important;
}

.alignfull {
  @extend .wide-container;
}

.double-border-container {
  padding: var(--double-border-padding, #{rem(6px)});
  border: var(--double-border-width, #{rem(1px)}) solid
    var(--double-border-color, #000);
  outline: var(--double-border-width, #{rem(1px)}) solid
    var(--double-border-color, #000);
  outline-offset: var(--double-border-offset, #{rem(-6px)});
}

//Incrementamos font-size en pantallas grandes
@media (min-width: 2000px) {
  html {
    font-size: 150%;
  }
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: rem(1320px);
  }
}

@media (min-width: 2560px) {
  html {
    font-size: 170%;
  }
}
